*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: monospace;
 font-size: 1.1rem;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #7e9c57;
    line-height: 75px;
    padding: 0px 80px;
}
nav .logo{
     float: left;
}
nav .logo p{
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:#fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 20px;
}
nav ul li a:hover{
    color: #000000;
}
nav ul .active{
    color:#000000 ;
}
.checkbtn{
    color:#fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width:990px){
   nav{
       padding: 0px 50px;
   } 
   .checkbtn{
       display: block;
   }
   nav .logo p{
       font-size: 30px;
   }
   nav ul{
       width: 100%;
       height: 100vh;
       background-color: #53694c;
       position: fixed;
       top: 75px;
       left: -100%;
       text-align: center;
       transition: 0.4s ease;
   }
   nav ul li{
       display: block;
       margin: 60px 0px;
    line-height: 20px;
   }
   #check:checked ~ul{
   left: 0;
   }
   .background{
       background-image: url('./eating.jpg') ;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
        height: calc(100vh - 75px);
   }
}